# Write your default config options here!
font="/usr/local/share/fonts/Nadeb2.ttf" 

fs=yes #支持全屏
ao=alsa
unicode=yes
subcp=cp936 #支持中文字幕
overlapsub=1 #支持多语言字幕
sub-fuzziness=1 #设定字幕自动加载的识别
subfont-text-scale=3
stop-xscreensaver=yes
subfont-autoscale = 3

#   字幕的自动加载
#   sub-fuzziness有三个值可以设置,
#   0:代表完全匹配,字幕的名字和影片的名字必须一样,例如:xxxx.avi,xxxx.srt
#   1: 代表部分匹配,字幕的名字完全包含影片的名字就可以自动加载,例如:xxxx.avi,xxxx.chs.srt
#   2:代表所有这个目录下的字幕都会被加载
#   
#   双语字幕
#   overlapsub=1是为了加载多语言字幕,最常用的是中英文字幕,但如果只是把中文和英文字幕放到影片目录里,中英文字幕是不会同时出现的,这时要把两个字幕合并成一个字幕,很简单:
#   $ cat xxxx.eng.srt xxxx.chs.srt > xxxx.srt

